PORT=4000
NODE_ENV=development

FRONTEND_URL=http://localhost:4000

SUPABASE_URL=https://ercafhfvuvcvgwzmnwlc.supabase.co/rest/v1/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVyY2FmaGZ2dXZjdmd3em1ud2xjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0MDYyNTQsImV4cCI6MjA5Nzk4MjI1NH0.Z8V7ee4tzSNB4PkBrx9tOAibyTt3owPn65L0oxoheAM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVyY2FmaGZ2dXZjdmd3em1ud2xjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjQwNjI1NCwiZXhwIjoyMDk3OTgyMjU0fQ.aWVv49BU4YQmUZmVQKqvbfshblrIpTK-mdxTMr3YUXE
